Repository NVIDIA/cuopt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia/cuopt-engine-codeowners, @nvidia/cuopt-infra-codeowners, @nvidia/cuopt-ci-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @nvidia/cuopt-engine-codeowners

#python code owners
python/            @nvidia/cuopt-infra-codeowners
notebooks/         @nvidia/cuopt-infra-codeowners
docs/              @nvidia/cuopt-infra-codeowners

#infra code owners
**/CMakeLists.txt  @nvidia/cuopt-infra-codeowners
**/cmake/          @nvidia/cuopt-infra-codeowners
container-builder/ @nvidia/cuopt-infra-codeowners

#CI code owners
/.github/                @nvidia/cuopt-ci-codeowners
/ci/                     @nvidia/cuopt-ci-codeowners
/.pre-commit-config.yaml @nvidia/cuopt-ci-codeowners

#packaging code owners
/.devcontainer/    @nvidia/cuopt-infra-codeowners
/conda/            @nvidia/cuopt-infra-codeowners
/dependencies.yaml @nvidia/cuopt-infra-codeowners
/build.sh          @nvidia/cuopt-infra-codeowners
pyproject.toml     @nvidia/cuopt-infra-codeowners

disable codecov uploads
  .github/workflows/pr.yaml
Owners: @nvidia/cuopt-ci-codeowners

Add missing dataset
  datasets/mip/minified/50v-10.mps
  datasets/mip/minified/cvs16r128-89.mps
  datasets/mip/minified/drayage-25-23.mps
  datasets/mip/minified/fiball.mps
  datasets/mip/minified/gen-ip054.mps
  datasets/mip/minified/gmu-35-50.mps
  datasets/mip/minified/n2seq36q.mps
  datasets/mip/minified/neos-3004026-krka.mps
  datasets/mip/minified/ns1208400.mps
  datasets/mip/minified/rmatr200-p5.mps
  datasets/mip/minified/sct2.mps
  datasets/mip/minified/seymour1.mps
  datasets/mip/minified/thor50dday.mps
  datasets/mip/minified/tr12-30.mps
  datasets/mip/minrep_inf.mps
Owners: none

custom spmv functors
  cpp/src/linear_programming/CMakeLists.txt
  cpp/src/linear_programming/spmv.cu
  cpp/src/linear_programming/spmv.cuh
  cpp/src/linear_programming/spmv_functors.cuh
  cpp/src/linear_programming/spmv_helpers.cuh
  cpp/src/linear_programming/spmv_kernels.cuh
  cpp/src/linear_programming/spmv_setup_helpers.cuh
  cpp/src/mip/presolve/spmv_kernels.cuh
Owners: @nvidia/cuopt-infra-codeowners, @nvidia/cuopt-engine-codeowners

Fix issue with not halting on integer infeasible problems
  cpp/src/dual_simplex/branch_and_bound.cpp
Owners: @nvidia/cuopt-engine-codeowners

fix libcuopt build
  .github/workflows/build.yaml
Owners: @nvidia/cuopt-ci-codeowners

Fix python 3.13 issue
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
Owners: @nvidia/cuopt-ci-codeowners

fix build
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
Owners: @nvidia/cuopt-ci-codeowners

Fix build
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
Owners: @nvidia/cuopt-ci-codeowners

update package name
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
Owners: @nvidia/cuopt-ci-codeowners

change repo sha retrieval
  .github/workflows/nightly.yaml
Owners: @nvidia/cuopt-ci-codeowners

remove wheel name usage
  .github/workflows/pr.yaml
Owners: @nvidia/cuopt-ci-codeowners

update
  conda/recipes/libcuopt/recipe.yaml
  conda/recipes/mps-parser/recipe.yaml
  python/cuopt/cuopt/linear_programming/pyproject.toml
  python/cuopt/pyproject.toml
  python/cuopt_self_hosted/pyproject.toml
  python/cuopt_server/pyproject.toml
  python/libcuopt/pyproject.toml
Owners: @nvidia/cuopt-infra-codeowners

update
  cpp/src/linear_programming/utilities/ping_pong_graph.cuh
  cpp/src/mip/local_search/rounding/lb_bounds_repair.cu
  cpp/src/mip/local_search/rounding/lb_bounds_repair.cuh
  cpp/src/mip/local_search/rounding/lb_constraint_prop.cu
  cpp/src/mip/local_search/rounding/lb_constraint_prop.cuh
  cpp/src/mip/presolve/lb_probing_cache.cu
  cpp/src/mip/presolve/load_balanced_bounds_presolve.cu
  cpp/src/mip/presolve/load_balanced_bounds_presolve.cuh
  cpp/src/mip/presolve/load_balanced_bounds_presolve_helpers.cuh
  cpp/src/mip/presolve/load_balanced_bounds_presolve_kernels.cuh
  cpp/src/mip/presolve/load_balanced_partition_helpers.cuh
  cpp/src/mip/presolve/spmv_kernels.cuh
  cpp/src/mip/problem/load_balanced_problem.cu
  cpp/src/mip/problem/load_balanced_problem.cuh
  cpp/src/mip/problem/write_mps.cu
  cpp/tests/mip/feasibility_jump_tests.cu
  cpp/tests/mip/miplib_test.cu
  cpp/tests/mip/server_test.cu
Owners: @nvidia/cuopt-engine-codeowners

fix style
  cpp/src/mip/local_search/rounding/lb_constraint_prop.cuh
  cpp/tests/mip/server_test.cu
Owners: @nvidia/cuopt-engine-codeowners

updates to CONTRIBUTION and build
  CONTRIBUTING.md
  build.sh
Owners: @nvidia/cuopt-infra-codeowners

fix CI issues
  README.md
  python/cuopt_self_hosted/pyproject.toml
Owners: @nvidia/cuopt-infra-codeowners

fix ci issue
  python/cuopt_self_hosted/pyproject.toml
Owners: @nvidia/cuopt-infra-codeowners

fix ci
  python/cuopt_self_hosted/pyproject.toml
Owners: @nvidia/cuopt-infra-codeowners

Update docs
  docs/cuopt/source/cuopt-c/index.rst
  docs/cuopt/source/cuopt-c/lp-milp/lp-milp-c-api.rst
  docs/cuopt/source/cuopt-c/lp-milp/milp-examples.rst
  docs/cuopt/source/cuopt-c/quick-start.rst
  docs/cuopt/source/cuopt-server/csp-guides/csp-aws.rst
  docs/cuopt/source/cuopt-server/csp-guides/csp-azure.rst
  docs/cuopt/source/cuopt-server/examples/lp-examples.rst
  docs/cuopt/source/cuopt-server/examples/milp-examples.rst
  docs/cuopt/source/cuopt-server/examples/routing-examples.rst
  docs/cuopt/source/introduction.rst
  docs/cuopt/source/routing-features.rst
  docs/cuopt/source/system-requirements.rst
Owners: @nvidia/cuopt-infra-codeowners

update docs
  docs/cuopt/source/resources.rst
  docs/cuopt/source/transition.rst
Owners: @nvidia/cuopt-infra-codeowners

update deps
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
Owners: @nvidia/cuopt-infra-codeowners

Update contributing
  CONTRIBUTING.md
Owners: none

Update README.md
  README.md
Owners: none

add missing deps
  conda/recipes/cuopt-server/recipe.yaml
Owners: @nvidia/cuopt-infra-codeowners

update deps
  conda/recipes/cuopt-server/recipe.yaml
Owners: @nvidia/cuopt-infra-codeowners

Remove unused and broken build flags
  build.sh
  cpp/CMakeLists.txt
Owners: @nvidia/cuopt-infra-codeowners

Remove unnecessary spaces
  build.sh
Owners: @nvidia/cuopt-infra-codeowners

Remove extra lines
  build.sh
Owners: @nvidia/cuopt-infra-codeowners

Address review comments
  docs/cuopt/source/cuopt-c/lp-milp/lp-example.rst
Owners: @nvidia/cuopt-infra-codeowners

Add cli.rst
  docs/cuopt/source/cuopt-c/lp-milp/cli.rst
  docs/cuopt/source/cuopt-c/lp-milp/index.rst
Owners: @nvidia/cuopt-infra-codeowners

Fix LP termination status 9 errors in batch LP solves
  cpp/src/linear_programming/utilities/cython_solve.cu
Owners: @nvidia/cuopt-engine-codeowners

Cleanup CLI docs
  docs/cuopt/source/cuopt-c/lp-milp/cli.rst
  docs/cuopt/source/cuopt-c/lp-milp/lp-example.rst
  docs/cuopt/source/cuopt-c/lp-milp/lp-milp-c-api.rst
  docs/cuopt/source/cuopt-c/lp-milp/milp-examples.rst
Owners: @nvidia/cuopt-infra-codeowners

Fix warnings and errors
  docs/cuopt/source/cuopt-c/lp-milp/cli.rst
Owners: @nvidia/cuopt-infra-codeowners

wip
  cpp/include/cuopt/logger.hpp
  cpp/include/cuopt/semantic_version.hpp
  cpp/src/mip/diversity/population.cu
  cpp/tests/linear_programming/CMakeLists.txt
  cpp/tests/linear_programming/mip_unit_tests/incumbent_callback_test.cu
  cpp/tests/mip/bounds_standardization_test.cu
  cpp/tests/mip/doc_example_test.cu
  cpp/tests/mip/elim_var_remap_test.cu
  cpp/tests/mip/empty_fixed_problems_test.cu
  cpp/tests/mip/feasibility_jump_tests.cu
  cpp/tests/mip/incumbent_callback_test.cu
  cpp/tests/mip/mip_utils.cuh
  cpp/tests/mip/miplib_test.cu
  cpp/tests/mip/multi_probe_test.cu
  cpp/tests/mip/problem_test.cu
  cpp/tests/mip/server_test.cu
  cpp/tests/mip/termination_test.cu
  cpp/tests/mip/unit_test.cu
Owners: @nvidia/cuopt-engine-codeowners, @nvidia/cuopt-infra-codeowners

Move commandline interface two levels up
  docs/cuopt/source/conf.py
  docs/cuopt/source/cuopt-c/lp-milp/index.rst
  docs/cuopt/source/cuopt-c/quick-start.rst
  docs/cuopt/source/cuopt-cli/cli.rst
  docs/cuopt/source/cuopt-cli/index.rst
  docs/cuopt/source/cuopt-cli/quick-start.rst
  docs/cuopt/source/index.rst
Owners: @nvidia/cuopt-infra-codeowners

fix bug in preprocess assignmnet
  cpp/src/mip/diversity/diversity_manager.cu
  cpp/src/mip/problem/problem.cu
Owners: @nvidia/cuopt-engine-codeowners

fix empty problem bug after presolve, fix issues on emptry problem running kernels in other places too
  cpp/src/mip/diversity/diversity_manager.cu
  cpp/src/mip/presolve/trivial_presolve.cuh
  cpp/src/mip/problem/problem.cu
  cpp/src/mip/solver.cu
Owners: @nvidia/cuopt-engine-codeowners

fix sizing on the temp_assignment
  cpp/src/mip/problem/problem.cu
Owners: @nvidia/cuopt-engine-codeowners

Fix objective value when LP is unbounded
  cpp/src/dual_simplex/solve.cpp
Owners: @nvidia/cuopt-engine-codeowners

fix json generation, run_pdlp binary and add flag to know which solver solved the lp
  benchmarks/linear_programming/cuopt/run_pdlp.cu
  cpp/include/cuopt/linear_programming/pdlp/solver_solution.hpp
  cpp/include/cuopt/linear_programming/utilities/cython_solve.hpp
  cpp/src/linear_programming/solve.cu
  cpp/src/linear_programming/solver_solution.cu
  cpp/src/linear_programming/termination_strategy/termination_strategy.cu
  cpp/src/linear_programming/utilities/cython_solve.cu
  python/cuopt/cuopt/linear_programming/solution/solution.py
Owners: @nvidia/cuopt-engine-codeowners, @nvidia/cuopt-infra-codeowners
