Repository NVIDIA/cuopt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia/cuopt-engine-codeowners, @nvidia/cuopt-infra-codeowners, @nvidia/cuopt-ci-codeowners

pre-commit changes
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  python/cuopt/pyproject.toml
Owners: @nvidia/cuopt-infra-codeowners

add package name
  .github/workflows/pr.yaml
Owners: @nvidia/cuopt-ci-codeowners

Fix loop over removed variables. Add unit test.
  cpp/src/dual_simplex/presolve.cpp
  cpp/tests/dual_simplex/unit_tests/solve.cpp
Owners: @nvidia/cuopt-engine-codeowners

Fix for column scaling on problems where column has norm 0
  cpp/src/dual_simplex/scaling.cpp
Owners: @nvidia/cuopt-engine-codeowners

fix libcuopt wheel build
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
Owners: @nvidia/cuopt-ci-codeowners

Fix bug: dual simplex does not fill in additional info
  cpp/src/dual_simplex/phase2.cpp
  cpp/src/dual_simplex/solution.hpp
  cpp/src/dual_simplex/solve.cpp
  cpp/src/linear_programming/solve.cu
Owners: @nvidia/cuopt-engine-codeowners

Changes to make cuOptCreateProblem consistent with cuOptCreateRangedProblem
  cpp/include/cuopt/linear_programming/cuopt_c.h
Owners: @nvidia/cuopt-engine-codeowners

Address review comments (thank you)
  cpp/src/mip/solution/solution.cu
  cpp/src/mip/solver.cu
Owners: @nvidia/cuopt-engine-codeowners

fix graph bug seen when using batch
  cpp/src/linear_programming/pdlp.cu
  cpp/src/linear_programming/pdlp.cuh
  cpp/src/linear_programming/restart_strategy/pdlp_restart_strategy.cu
  cpp/src/linear_programming/restart_strategy/pdlp_restart_strategy.cuh
  cpp/src/linear_programming/solve.cu
  cpp/src/linear_programming/step_size_strategy/adaptive_step_size_strategy.cu
  cpp/src/linear_programming/step_size_strategy/adaptive_step_size_strategy.hpp
  cpp/src/mip/solve.cu
  cpp/tests/mip/bounds_standardization_test.cu
  cpp/tests/mip/elim_var_remap_test.cu
Owners: @nvidia/cuopt-engine-codeowners

fix cuda version for serve test
  .github/workflows/self_hosted_service_test.yaml
Owners: @nvidia/cuopt-ci-codeowners

deprecate cuda 11 support
  docs/cuopt/source/cuopt-c/quick-start.rst
  docs/cuopt/source/cuopt-python/quick-start.rst
  docs/cuopt/source/cuopt-server/quick-start.rst
  docs/cuopt/source/system-requirements.rst
Owners: @nvidia/cuopt-infra-codeowners

Add rapids logger to rpath
  python/cuopt/cuopt/linear_programming/CMakeLists.txt
  python/libcuopt/CMakeLists.txt
Owners: @nvidia/cuopt-infra-codeowners

provide script for the run
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Owners: @nvidia/cuopt-ci-codeowners

Add cli test
  ci/test_wheel_cuopt.sh
  python/libcuopt/libcuopt/tests/test_cli.sh
Owners: @nvidia/cuopt-ci-codeowners, @nvidia/cuopt-infra-codeowners

fix issues
  docs/cuopt/source/cuopt-cli/cli-examples.rst
Owners: @nvidia/cuopt-infra-codeowners

add a sample mps file for test
  datasets/mip/sample.mps
Owners: none

fix tests in docs
  docs/cuopt/source/cuopt-cli/cli-examples.rst
Owners: @nvidia/cuopt-infra-codeowners

pre-commit changes
  ci/test_wheel_cuopt.sh
  python/libcuopt/libcuopt/tests/test_cli.sh
Owners: @nvidia/cuopt-ci-codeowners, @nvidia/cuopt-infra-codeowners

Add more missing fields
  cpp/src/linear_programming/solve.cu
Owners: @nvidia/cuopt-engine-codeowners

remove third party modeling languges for now from docs
  docs/cuopt/source/introduction.rst
  docs/cuopt/source/lp-features.rst
  docs/cuopt/source/milp-features.rst
  docs/cuopt/source/third_party_modeling_languages/index.rst
Owners: @nvidia/cuopt-infra-codeowners

Remove modeling language details
  docs/cuopt/source/index.rst
  docs/cuopt/source/introduction.rst
  docs/cuopt/source/lp-features.rst
  docs/cuopt/source/milp-features.rst
  docs/cuopt/source/third_party_modeling_languages/index.rst
Owners: @nvidia/cuopt-infra-codeowners

fix doc
  docs/cuopt/source/lp-features.rst
Owners: @nvidia/cuopt-infra-codeowners

update doc
  docs/cuopt/source/lp-features.rst
  docs/cuopt/source/milp-features.rst
Owners: @nvidia/cuopt-infra-codeowners

Update introduction.rst
  docs/cuopt/source/introduction.rst
Owners: @nvidia/cuopt-infra-codeowners

Update release-notes.rst
  docs/cuopt/source/release-notes.rst
Owners: @nvidia/cuopt-infra-codeowners

Update lp-features.rst
  docs/cuopt/source/lp-features.rst
Owners: @nvidia/cuopt-infra-codeowners

Update lp-example.rst
  docs/cuopt/source/cuopt-c/lp-milp/lp-example.rst
Owners: @nvidia/cuopt-infra-codeowners

Update milp-examples.rst
  docs/cuopt/source/cuopt-c/lp-milp/milp-examples.rst
Owners: @nvidia/cuopt-infra-codeowners

Update cli-examples.rst
  docs/cuopt/source/cuopt-cli/cli-examples.rst
Owners: @nvidia/cuopt-infra-codeowners

Update lp-features.rst
  docs/cuopt/source/lp-features.rst
Owners: @nvidia/cuopt-infra-codeowners

Update milp-features.rst
  docs/cuopt/source/milp-features.rst
Owners: @nvidia/cuopt-infra-codeowners

Update lp-features.rst
  docs/cuopt/source/lp-features.rst
Owners: @nvidia/cuopt-infra-codeowners

Update milp-features.rst
  docs/cuopt/source/milp-features.rst
Owners: @nvidia/cuopt-infra-codeowners

fix bug of lb_constraint_prop not using original ids, and fix bug of probing cache compraing to the host bounds using original ids
  cpp/src/mip/local_search/rounding/constraint_prop.cu
  cpp/src/mip/local_search/rounding/lb_constraint_prop.cu
  cpp/src/mip/presolve/lb_probing_cache.cu
  cpp/src/mip/presolve/probing_cache.cu
  cpp/src/mip/presolve/probing_cache.cuh
  cpp/src/mip/problem/problem.cu
  cpp/src/mip/problem/problem.cuh
Owners: @nvidia/cuopt-engine-codeowners

Update introduction.rst
  docs/cuopt/source/introduction.rst
Owners: @nvidia/cuopt-infra-codeowners

Update introduction.rst
  docs/cuopt/source/introduction.rst
Owners: @nvidia/cuopt-infra-codeowners

add cli to bin
  python/libcuopt/CMakeLists.txt
Owners: @nvidia/cuopt-infra-codeowners

update intro
  docs/cuopt/source/introduction.rst
Owners: @nvidia/cuopt-infra-codeowners

APTH
  python/libcuopt/CMakeLists.txt
  python/libcuopt/libcuopt/tests/test_cli.sh
Owners: @nvidia/cuopt-infra-codeowners

disable cli test inwheels
  python/libcuopt/libcuopt/tests/test_cli.sh
Owners: @nvidia/cuopt-infra-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @nvidia/cuopt-engine-codeowners

#python code owners
python/            @nvidia/cuopt-infra-codeowners
notebooks/         @nvidia/cuopt-infra-codeowners
docs/              @nvidia/cuopt-infra-codeowners

#infra code owners
**/CMakeLists.txt  @nvidia/cuopt-infra-codeowners
**/cmake/          @nvidia/cuopt-infra-codeowners
container-builder/ @nvidia/cuopt-infra-codeowners

#CI code owners
/.github/                @nvidia/cuopt-ci-codeowners
/ci/                     @nvidia/cuopt-ci-codeowners
/.pre-commit-config.yaml @nvidia/cuopt-ci-codeowners

#packaging code owners
/.devcontainer/    @nvidia/cuopt-infra-codeowners
/conda/            @nvidia/cuopt-infra-codeowners
/dependencies.yaml @nvidia/cuopt-infra-codeowners
/build.sh          @nvidia/cuopt-infra-codeowners
pyproject.toml     @nvidia/cuopt-infra-codeowners
