Repository NVIDIA/cuopt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia/cuopt-engine-codeowners, @nvidia/cuopt-infra-codeowners, @nvidia/cuopt-ci-codeowners

fix duplicate set solution and change test to test free vars
  cpp/include/cuopt/semantic_version.hpp
  cpp/src/mip/diversity/population.cu
  cpp/tests/mip/incumbent_callback_test.cu
Owners: @nvidia/cuopt-engine-codeowners

fix style
  benchmarks/linear_programming/cuopt/run_pdlp.cu
Owners: none

fix more bugs: wrong place of resize assignment, tests call set_solution multiple times
  cpp/src/mip/diversity/population.cu
  cpp/src/mip/problem/problem.cu
  cpp/tests/mip/incumbent_callback_test.cu
Owners: @nvidia/cuopt-engine-codeowners

Fix review comments
  docs/cuopt/source/cuopt-c/lp-milp/milp-examples.rst
  docs/cuopt/source/cuopt-cli/cli.rst
Owners: @nvidia/cuopt-infra-codeowners

don't pop back solutions
  cpp/tests/mip/incumbent_callback_test.cu
Owners: @nvidia/cuopt-engine-codeowners

Add timelimit to compute related variables and catch out of memory exception in C++ layer
  cpp/src/linear_programming/solve.cu
  cpp/src/mip/problem/problem.cu
  cpp/src/mip/problem/problem.cuh
  cpp/src/mip/solve.cu
  cpp/src/routing/solve.cu
Owners: @nvidia/cuopt-engine-codeowners

Make sure to resize to zero during early exit of finding related variables
  cpp/src/mip/problem/problem.cu
Owners: @nvidia/cuopt-engine-codeowners

add default nan value in solution and update comment solution
  cpp/include/cuopt/linear_programming/pdlp/solver_solution.hpp
  python/cuopt/cuopt/linear_programming/solution/solution.py
Owners: @nvidia/cuopt-engine-codeowners, @nvidia/cuopt-infra-codeowners

lp state bugfix
  cpp/src/mip/diversity/diversity_manager.cu
  cpp/src/mip/diversity/recombiners/fp_recombiner.cuh
  cpp/src/mip/local_search/feasibility_pump/feasibility_pump.cu
  cpp/src/mip/local_search/local_search.cu
  cpp/src/mip/local_search/rounding/constraint_prop.cu
  cpp/src/mip/local_search/rounding/lb_constraint_prop.cu
  cpp/src/mip/relaxed_lp/lp_state.cuh
  cpp/src/mip/relaxed_lp/relaxed_lp.cu
  cpp/src/mip/relaxed_lp/relaxed_lp.cuh
  cpp/src/mip/solver_context.cuh
Owners: @nvidia/cuopt-engine-codeowners

fix lp test
  python/cuopt/cuopt/tests/linear_programming/test_lp_solver.py
Owners: @nvidia/cuopt-infra-codeowners

Fix bug in C API for bool parameters. Fix bug on irish-electricty
  cpp/cuopt_cli.cpp
  cpp/src/linear_programming/cuopt_c.cpp
  cpp/src/linear_programming/solve.cu
  cpp/src/math_optimization/solver_settings.cu
Owners: @nvidia/cuopt-engine-codeowners

Adding changes from Andrew to add versions and adding link to cli
  .gitignore
  docs/cuopt/source/conf.py
  docs/cuopt/source/cuopt-cli/cli-examples.rst
  docs/cuopt/source/cuopt-cli/index.rst
  docs/cuopt/source/cuopt-cli/quick-start.rst
Owners: @nvidia/cuopt-infra-codeowners

Set the log pattern in default_logger(). Fix docstring issue from Flora
  cpp/cuopt_cli.cpp
  cpp/include/cuopt/logger.hpp
  cpp/src/linear_programming/cuopt_c.cpp
  cpp/src/linear_programming/solve.cu
  cpp/src/mip/solve.cu
  python/cuopt/cuopt/linear_programming/solver/solver.py
Owners: @nvidia/cuopt-engine-codeowners, @nvidia/cuopt-infra-codeowners

Update lp-milp-c-api.rst
  docs/cuopt/source/cuopt-c/lp-milp/lp-milp-c-api.rst
Owners: @nvidia/cuopt-infra-codeowners

changes for project.json and typedef header fix
  cpp/include/cuopt/linear_programming/cuopt_c.h
  docs/cuopt/source/conf.py
  docs/cuopt/source/cuopt-c/lp-milp/lp-milp-c-api.rst
  docs/cuopt/source/cuopt-c/lp-milp/milp-examples.rst
  docs/cuopt/source/introduction.rst
  docs/cuopt/source/release-notes.rst
Owners: @nvidia/cuopt-engine-codeowners, @nvidia/cuopt-infra-codeowners

Also change reset_default_logger()
  cpp/include/cuopt/logger.hpp
Owners: @nvidia/cuopt-engine-codeowners

Update cli-examples.rst
  docs/cuopt/source/cuopt-cli/cli-examples.rst
Owners: @nvidia/cuopt-infra-codeowners

Update solver_wrapper.pyx
  python/cuopt/cuopt/linear_programming/solver/solver_wrapper.pyx
Owners: @nvidia/cuopt-infra-codeowners

Update test_lp_solver.py
  python/cuopt/cuopt/tests/linear_programming/test_lp_solver.py
Owners: @nvidia/cuopt-infra-codeowners

Update solver.pxd
  python/cuopt/cuopt/linear_programming/solver/solver.pxd
Owners: @nvidia/cuopt-infra-codeowners

Update introduction.rst
  docs/cuopt/source/introduction.rst
Owners: @nvidia/cuopt-infra-codeowners

Updates to faq.rst, introduction.rst, lp-features.rst, lp-milp-settings.rst, milp-features.rst, release-notes.rst, routing-features.rst
  docs/cuopt/source/faq.rst
  docs/cuopt/source/introduction.rst
  docs/cuopt/source/lp-features.rst
  docs/cuopt/source/lp-milp-settings.rst
  docs/cuopt/source/milp-features.rst
  docs/cuopt/source/release-notes.rst
  docs/cuopt/source/routing-features.rst
Owners: @nvidia/cuopt-infra-codeowners

features and release notes
  docs/cuopt/source/lp-features.rst
  docs/cuopt/source/release-notes.rst
Owners: @nvidia/cuopt-infra-codeowners

update
  docs/cuopt/source/lp-features.rst
Owners: @nvidia/cuopt-infra-codeowners

add server changes to solution
  python/cuopt/cuopt/linear_programming/solution/solution.py
  python/cuopt/cuopt/tests/linear_programming/test_lp_solver.py
  python/cuopt_self_hosted/cuopt_sh_client/cuopt_self_host_client.py
  python/cuopt_server/cuopt_server/utils/linear_programming/data_definition.py
  python/cuopt_server/cuopt_server/utils/linear_programming/solver.py
Owners: @nvidia/cuopt-infra-codeowners

Fix non-trivial presolve not reporting Optimality
  cpp/src/mip/diversity/diversity_manager.cu
  cpp/src/mip/solution/solution.cu
  cpp/tests/mip/termination_test.cu
  datasets/mip/sudoku.mps
Owners: @nvidia/cuopt-engine-codeowners

style fix
  cpp/src/mip/solution/solution.cu
Owners: @nvidia/cuopt-engine-codeowners

fix bug in preprocess, fix line segment returning worse solution, fix B&B solution not directly added
  cpp/src/mip/diversity/diversity_manager.cu
  cpp/src/mip/diversity/population.cu
  cpp/src/mip/local_search/line_segment_search/line_segment_search.cu
  cpp/src/mip/problem/problem.cu
Owners: @nvidia/cuopt-engine-codeowners

remove the assert
  cpp/src/mip/diversity/diversity_manager.cu
Owners: @nvidia/cuopt-engine-codeowners

refactor to simplify presolve infeasibility/optimality detection, added a separate test for trivial presolve
  cpp/src/mip/diversity/diversity_manager.cu
  cpp/src/mip/solve.cu
  cpp/tests/mip/termination_test.cu
  datasets/mip/trivial-presolve-optimality.mps
Owners: @nvidia/cuopt-engine-codeowners

fix container path
  docs/cuopt/source/cuopt-server/quick-start.rst
Owners: @nvidia/cuopt-infra-codeowners

fix container path
  docs/cuopt/source/cuopt-server/quick-start.rst
Owners: @nvidia/cuopt-infra-codeowners

move nan check above
  cpp/src/mip/problem/problem.cu
Owners: @nvidia/cuopt-engine-codeowners

refactoring, convert infeasibility flag into 'fully reduced' flag
  cpp/src/mip/solution/solution.cu
  cpp/src/mip/solution/solution.cuh
  cpp/src/mip/solve.cu
  cpp/src/mip/solver.cu
Owners: @nvidia/cuopt-engine-codeowners

Bug fix: solution incorrect when dual simplex presolve removes empty cols
  cpp/src/dual_simplex/presolve.cpp
  cpp/src/dual_simplex/presolve.hpp
  cpp/src/dual_simplex/scaling.cpp
  cpp/src/dual_simplex/scaling.hpp
  cpp/src/dual_simplex/solve.cpp
Owners: @nvidia/cuopt-engine-codeowners

Move thirdparty files to directory and clean it
  THIRD_PARTY_LICENSES
  thirdparty/THIRD_PARTY_LICENSES
Owners: none

Switch to using v3.2 of argparser for wheels
  python/libcuopt/CMakeLists.txt
Owners: @nvidia/cuopt-infra-codeowners

Update introduction.rst
  docs/cuopt/source/introduction.rst
Owners: @nvidia/cuopt-infra-codeowners

Update brev details and add project.json
  README.md
  docs/cuopt/source/cuopt-python/quick-start.rst
  docs/cuopt/source/cuopt-server/quick-start.rst
  docs/cuopt/source/project.json
  docs/cuopt/source/resources.rst
Owners: @nvidia/cuopt-infra-codeowners

remove cuda11 support
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  README.md
  ci/release/update-version-cuopt.sh
  ci/release/update-version-rapids.sh
  dependencies.yaml
Owners: @nvidia/cuopt-ci-codeowners, @nvidia/cuopt-infra-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @nvidia/cuopt-engine-codeowners

#python code owners
python/            @nvidia/cuopt-infra-codeowners
notebooks/         @nvidia/cuopt-infra-codeowners
docs/              @nvidia/cuopt-infra-codeowners

#infra code owners
**/CMakeLists.txt  @nvidia/cuopt-infra-codeowners
**/cmake/          @nvidia/cuopt-infra-codeowners
container-builder/ @nvidia/cuopt-infra-codeowners

#CI code owners
/.github/                @nvidia/cuopt-ci-codeowners
/ci/                     @nvidia/cuopt-ci-codeowners
/.pre-commit-config.yaml @nvidia/cuopt-ci-codeowners

#packaging code owners
/.devcontainer/    @nvidia/cuopt-infra-codeowners
/conda/            @nvidia/cuopt-infra-codeowners
/dependencies.yaml @nvidia/cuopt-infra-codeowners
/build.sh          @nvidia/cuopt-infra-codeowners
pyproject.toml     @nvidia/cuopt-infra-codeowners
