Repository NVIDIA/cuopt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia/cuopt-engine-codeowners, @nvidia/cuopt-infra-codeowners, @nvidia/cuopt-ci-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @nvidia/cuopt-engine-codeowners

#python code owners
python/            @nvidia/cuopt-infra-codeowners
notebooks/         @nvidia/cuopt-infra-codeowners
docs/              @nvidia/cuopt-infra-codeowners

#infra code owners
**/CMakeLists.txt  @nvidia/cuopt-infra-codeowners
**/cmake/          @nvidia/cuopt-infra-codeowners
container-builder/ @nvidia/cuopt-infra-codeowners

#CI code owners
/.github/                @nvidia/cuopt-ci-codeowners
/ci/                     @nvidia/cuopt-ci-codeowners
/.pre-commit-config.yaml @nvidia/cuopt-ci-codeowners

#packaging code owners
/.devcontainer/    @nvidia/cuopt-infra-codeowners
/conda/            @nvidia/cuopt-infra-codeowners
/dependencies.yaml @nvidia/cuopt-infra-codeowners
/build.sh          @nvidia/cuopt-infra-codeowners
pyproject.toml     @nvidia/cuopt-infra-codeowners

fix resize order: after preprocessing complete
  cpp/src/mip/presolve/lb_probing_cache.cu
  cpp/src/mip/presolve/probing_cache.cu
  cpp/src/mip/problem/problem.cu
Owners: @nvidia/cuopt-engine-codeowners

Add cli support
  python/libcuopt/libcuopt/_cli_wrapper.py
  python/libcuopt/libcuopt/tests/test_cli.sh
  python/libcuopt/pyproject.toml
Owners: @nvidia/cuopt-infra-codeowners

Add path for testing
  python/libcuopt/libcuopt/tests/test_cli.sh
Owners: @nvidia/cuopt-infra-codeowners

update build.yaml
  .github/workflows/build.yaml
Owners: @nvidia/cuopt-ci-codeowners

Update REAME with build status
  README.md
Owners: none

Fix missing details
  README.md
Owners: none

conditional test to unblock CI
  cpp/tests/mip/feasibility_jump_tests.cu
Owners: @nvidia/cuopt-engine-codeowners

fix test.yaml
  .github/workflows/test.yaml
Owners: @nvidia/cuopt-ci-codeowners

fix scan issues
  python/cuopt_server/cuopt_server/cuopt_service.py
  python/cuopt_server/cuopt_server/tests/__init__.py
  python/cuopt_server/cuopt_server/tests/test_bill_logging.py
  python/cuopt_server/cuopt_server/tests/test_cuopt_amr_service.py
  python/cuopt_server/cuopt_server/tests/test_incumbents.py
  python/cuopt_server/cuopt_server/tests/test_initial_solutions.py
  python/cuopt_server/cuopt_server/tests/test_job_abort.py
  python/cuopt_server/cuopt_server/tests/test_job_cache.py
  python/cuopt_server/cuopt_server/tests/test_lp.py
  python/cuopt_server/cuopt_server/tests/test_multi_cost.py
  python/cuopt_server/cuopt_server/tests/test_pdlp_warmstart.py
  python/cuopt_server/cuopt_server/tests/test_server.py
  python/cuopt_server/cuopt_server/tests/test_server_health.py
  python/cuopt_server/cuopt_server/tests/test_set_cost_matrix.py
  python/cuopt_server/cuopt_server/tests/test_set_cost_waypoint_graph.py
  python/cuopt_server/cuopt_server/tests/test_set_fleet_data.py
  python/cuopt_server/cuopt_server/tests/test_set_solver_config.py
  python/cuopt_server/cuopt_server/tests/test_set_task_data.py
  python/cuopt_server/cuopt_server/tests/test_set_travel_time_waypoint_graph.py
  python/cuopt_server/cuopt_server/tests/test_solver_logging.py
  python/cuopt_server/cuopt_server/tests/utils/__init__.py
  python/cuopt_server/cuopt_server/tests/utils/sdk_tester.py
  python/cuopt_server/cuopt_server/tests/utils/utils.py
  python/cuopt_server/cuopt_server/webserver.py
Owners: @nvidia/cuopt-infra-codeowners

update self hosted client
  python/cuopt_self_hosted/cuopt_sh_client/cuopt_self_host_client.py
Owners: @nvidia/cuopt-infra-codeowners

Update Contributing and Readme
  CONTRIBUTING.md
  README.md
Owners: none

Add readme to all the directories
  README.md
  benchmarks/README.md
  ci/README.md
  cmake/README.md
  conda/README.md
  cpp/README.md
  docs/cuopt/README.md
  docs/cuopt/source/cuopt-c/quick-start.rst
  docs/cuopt/source/faq.rst
  notebooks/README.md
  python/README.md
Owners: @nvidia/cuopt-ci-codeowners, @nvidia/cuopt-infra-codeowners, @nvidia/cuopt-engine-codeowners

update CONTRIBUTING.md on dependency details.
  CONTRIBUTING.md
Owners: none

address reviews on adding details for pip, conda and container
  README.md
  docs/cuopt/source/cuopt-c/quick-start.rst
  docs/cuopt/source/cuopt-python/quick-start.rst
  docs/cuopt/source/cuopt-server/quick-start.rst
  docs/cuopt/source/introduction.rst
Owners: @nvidia/cuopt-infra-codeowners

update introduction
  docs/cuopt/source/introduction.rst
Owners: @nvidia/cuopt-infra-codeowners

fix doc errors
  docs/cuopt/Makefile
  docs/cuopt/source/introduction.rst
Owners: @nvidia/cuopt-infra-codeowners

update examples
  docs/cuopt/source/cuopt-server/examples/lp-examples.rst
  docs/cuopt/source/cuopt-server/examples/routing-examples.rst
Owners: @nvidia/cuopt-infra-codeowners

update to docs
  README.md
  docs/cuopt/source/cuopt-c/quick-start.rst
  docs/cuopt/source/cuopt-python/quick-start.rst
  docs/cuopt/source/cuopt-server/quick-start.rst
  docs/cuopt/source/system-requirements.rst
Owners: @nvidia/cuopt-infra-codeowners

udpate
  CONTRIBUTING.md
Owners: none

update examples
  README.md
  docs/cuopt/source/cuopt-python/quick-start.rst
  docs/cuopt/source/cuopt-server/quick-start.rst
  docs/cuopt/source/resources.rst
Owners: @nvidia/cuopt-infra-codeowners

Address review comments
  CONTRIBUTING.md
  README.md
  ci/README.md
  cpp/README.md
  docs/cuopt/README.md
  docs/cuopt/source/cuopt-c/quick-start.rst
  docs/cuopt/source/cuopt-python/quick-start.rst
  docs/cuopt/source/cuopt-server/quick-start.rst
  docs/cuopt/source/faq.rst
  docs/cuopt/source/introduction.rst
  docs/cuopt/source/system-requirements.rst
  python/README.md
Owners: @nvidia/cuopt-ci-codeowners, @nvidia/cuopt-engine-codeowners, @nvidia/cuopt-infra-codeowners

fix doc build failure
  docs/cuopt/source/resources.rst
Owners: @nvidia/cuopt-infra-codeowners

Add google colab links
  README.md
  docs/cuopt/source/resources.rst
Owners: @nvidia/cuopt-infra-codeowners

update faq
  docs/cuopt/source/faq.rst
Owners: @nvidia/cuopt-infra-codeowners

build for other python versions apart from 3.13
  .github/workflows/build.yaml
Owners: @nvidia/cuopt-ci-codeowners

fix typo
  docs/cuopt/source/cuopt-python/quick-start.rst
Owners: @nvidia/cuopt-infra-codeowners

fix license metadata
  python/cuopt_self_hosted/pyproject.toml
Owners: @nvidia/cuopt-infra-codeowners

push update to docs
  docs/cuopt/source/conf.py
  docs/cuopt/source/cuopt-c/quick-start.rst
  docs/cuopt/source/cuopt-server/quick-start.rst
Owners: @nvidia/cuopt-infra-codeowners

stop uploading to downloads.rapids.ai, use rapids-init-pip in wheel CI
  .github/workflows/pr.yaml
  .pre-commit-config.yaml
  ci/build_cpp.sh
  ci/build_python.sh
  ci/build_wheel.sh
  ci/build_wheel_cuopt.sh
  ci/build_wheel_cuopt_mps_parser.sh
  ci/build_wheel_cuopt_server.sh
  ci/build_wheel_cuopt_sh_client.sh
  ci/build_wheel_libcuopt.sh
  ci/test_self_hosted_service.sh
  ci/test_wheel_cuopt.sh
  ci/test_wheel_cuopt_server.sh
Owners: @nvidia/cuopt-ci-codeowners

include Python constraints for pure-Python conda packages
  conda/recipes/cuopt-server/recipe.yaml
  conda/recipes/cuopt-sh-client/recipe.yaml
Owners: @nvidia/cuopt-infra-codeowners

Fix objective constant on maximization. Fix undefined memory access when solved at root node
  cpp/src/dual_simplex/branch_and_bound.cpp
  cpp/src/mip/presolve/trivial_presolve.cuh
Owners: @nvidia/cuopt-engine-codeowners

fix depends on cuopt
  dependencies.yaml
Owners: @nvidia/cuopt-infra-codeowners

fix version split
  python/cuopt_server/cuopt_server/utils/job_queue.py
Owners: @nvidia/cuopt-infra-codeowners
